<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="user account registration"/>
  <meta name="author" content="Jules Fehr"/>
  <link rel="icon" href="../favicon.ico" type="image/x-icon"/>

  <title>Email Confirmation</title>


  <!-- Bootstrap core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet"/>

</head>
<body class="gray-bg">
<div class="container">
  <div class="row">
    <h1 th:if="!${invalidToken}" class="text-center">Email address confirmed!</h1>
    <h1 th:if="${invalidToken}" class="text-center">Email address not confirmed!</h1>
    <div class="col-md-4 col-md-offset-4">

      <div th:if="${invalidToken}" class="alert alert-danger"
           role="alert" th:text=${invalidToken}></div>

      <input type="hidden" name="token" th:value="confirmationToken">

    </div>
  </div>
</div>
</body>
</html>
